.hidden {
    display: none;
}

table {
    border-collapse: collapse;
}

@keyframes bgfade {
    0% {
        background-color: #49aaff;
    }

    80% {
        background-color: #49aaff;
    }

    100% {
        background-color: white;
    }
}

th {
    text-align: left;
    padding-right: 20px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    margin-top: 5px;
    margin-bottom: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #181818;
    color: white;
}

hr {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 100%;
    border: 1px solid #eaeaea;
    margin: 20px auto;
}

img {
    width: 640px;
    height: 480px;
}

table {
    margin: 15px auto;
    width: 640px;
}

#measure-button,
#fullscreen-button {
    padding: 15px;
    border-radius: 6px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

#fullscreen-div {
    width: 640px;
    height: 480px;
    position: relative;
    margin: auto;
}

#cam-img, #faceoverlay {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.diagnosis-state.frontend {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}